*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body{
    background: url(img/fondo.png);
    /* Fondo plomo*/
    display: flex;
	/* distancia entre empieza y lo demas*/
    min-height: 100vh;
    /* tamaño minimo*/
}

form{
    margin:auto;
    /* formulario en medio*/
    width: 50%;
    /* 50% tamaño*/
    max-width: 500px;
    /* tamaño maximo */
    background: #F3F3F3;
    /*color fondo form*/
    padding: 30px;
    /* borde primero*/
    border: 1px solid rgba(0,0,0,0.2);
    /*segundo borde*/
}

h2{
    text-align: center;
    /* centrado*/
    margin-bottom: 20px;
    /* margen inferior*/
    color: rgba(0,0,0,0.5);
    /* color letras */
}

input{
    display: block;
    /* tipo del contenedor */
    padding: 10px;
    /* altura contenedor*/
    width: 100%;
    /* tope contenedor*/
    margin: 30px 0;
    /* distancia entre lados */
    font-size: 20px;
    /* tamaño letra */
}


input[type="submit"]{
    background: linear-gradient(#FFDA63,#FFD940);
    /* color boton */
    border:0;
    /*sin borde*/
    color: brown;
    /* color letra texto*/
    opacity: 0.8;
    /*opacidad letra*/
    cursor: pointer;
    /* imagen cursor */
    border-radius: 20px;
    /* boton redondo */
    margin-bottom: 0;
    /* espacio bajo boton */
    
}


input[type="submit"]:hover{
    opacity: 1;
}
/* opacidad boton ingresar*/

input[type="submit"]:active{
    transform: scale(0.95);
}
/* presionar boton ingresar lo achica*/


@media (max-width:768px){
    form{
        width: 75%;
    }
}
/*hasta 768 sea 75%*/

@media (max-width:480px){
    form{
        width: 95%;
    }
}
/* hasta 480 95%*/